<h1>Cocktails</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <ul >

        <% @cocktails.each do |cocktail| %>
        <li class="cocktail-list">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>

          <br>
        </li>
        <% end %>
      </ul>

    </div>

  </div>
  <div class="btn btn-primary col-xs-6 col-xs-offset-3">
      <%= link_to "Add a cocktail", new_cocktail_path %>
    </div>
</div>
</div>
